<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.piumal.getyourdoc"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.piumal.getyourdoc.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.piumal.getyourdoc.CreateAppointment"
            android:label="@string/create_appointment_label">
        </activity>
        <activity
            android:name="com.example.piumal.getyourdoc.DeleteAppointment"
            android:label="@string/delete_appointment_label">
        </activity>
        <activity
            android:name="com.example.piumal.getyourdoc.ViewOrEditAppointment"
            android:label="@string/view_edit_appointments_label">
        </activity>
        <activity
            android:name="com.example.piumal.getyourdoc.EditAppointment"
            android:label="@string/edit_appointment_label">
        </activity>
        <activity
            android:name="com.example.piumal.getyourdoc.MoveAppointment"
            android:label="@string/move_appointment_label">
        </activity>
        <activity
            android:name="com.example.piumal.getyourdoc.TranslateAppointment"
            android:label="@string/translate_appointment_label">
        </activity>
        <activity
            android:name="com.example.piumal.getyourdoc.TranslationOfAppointment"
            android:label="@string/title_activity_translation_of_appointment">
        </activity>
        <activity
            android:name="com.example.piumal.getyourdoc.SearchAppointment"
            android:label="@string/search_appointment_label">
        </activity>
        <activity
            android:name="com.example.piumal.getyourdoc.ViewAppointment"
            android:label="@string/view_appointment_label">
        </activity>
        <activity
            android:name="com.example.piumal.getyourdoc.SelectLanguages"
            android:label="@string/select_language_Label">
        </activity>
    </application>

</manifest>